version: "3.8"
services:
  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    user: "0"
    volumes:
      - ./prometheus:/etc/prometheus:Z
      - ${MIST_DATA_DIR}/prometheus:/prometheus:Z
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    user: "0"
    volumes:
      - ${MIST_DATA_DIR}/grafana:/var/lib/grafana:Z
    ports:
      - "3000:3000"

  loki:
    profiles: ["loki"]
    image: grafana/loki:2.8.2
    restart: unless-stopped
    user: "0"
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./loki:/etc/loki:Z
      - ${MIST_DATA_DIR}/loki:/var/lib/loki:Z
    ports:
      - "3100:3100"

  tempo:
    profiles: ["tempo"]
    image: grafana/tempo:1.5.0
    restart: unless-stopped
    user: "0"
    command: -config.file=/etc/tempo/tempo-config.yaml
    volumes:
      - ./tempo:/etc/tempo:Z
      - ${MIST_DATA_DIR}/tempo:/var/lib/tempo:Z
    ports:
      - "3200:3200"
      - "4317:4317"
